
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <input id="btn" type="button" value="Get All Employees" />
    <input id="btnClear" type="button" value="Clear" />
    <ul id="ulEmployees" />
</div>
